<div class="actividad1">
    <div class="titulo">

        <h1>Actividad 1</h1>
    </div>

    <div class="resultado">

        <p>El valor de la varible "numero" es:</p>
        
        <p id="demo1"></p>
    </div>
    <div class="boton">

        <button (click)="act1()">Presione aqui!</button>
    </div>
</div>


<div class="actividad2">
    <div class="titulo">

        <h1>Actividad 2</h1>
    </div>

    <div class="resultado">

        <p>El valor de la varible "z" es:</p>
        <p id="demo2"></p>
    </div>
    <div class="boton">

        <button (click)="act2()">Presione aqui!</button>
    </div>
</div>

<div class="actividad3">
    <div class="titulo">

        <h1>Actividad 3</h1>
    </div>

    <div class="resultado">

        <p id="demo3"></p>
    </div>
    <div class="boton">

        <button (click)="act3()">Presione aqui!</button>
    </div>
</div>